################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/20190420/.vs/20190420/v15
/20190416/.vs/20190416/v15
/20190429/.vs/20190429/v15
